<div class="panel panel-default">
  <div class="panel-body">
  <div class="form-group">
    <label for="addTodoInput">Add Todo Item:</label>
    {{input id="addTodoInput" value=addTodoInput class="form-control" insert-newline="addTodoAction"}}
  </div>
  {{#if alreadyExists}}
    <div class="alert alert-danger">Todo '{{currentTodoItem}}' already exists.</div>
  {{else}}
    {{#if showAlerts}}
    <div class="alert alert-success">Successfully added Todo task: '{{currentTodoItem}}'</div>
    {{/if}}
  {{/if}}
</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Tasks Todo</div>
  <ul class="list-group">
    {{#each model as | todoItem index |}}
      {{#unless todoItem.isComplete}}
        <li class="list-group-item">
            <input type="checkbox" name="todo-item-{{todoItem.id}}" {{action 'onTodoComplete' todoItem}}>
           {{todoItem.name}}
         </li>
        {{/unless}}
    {{/each}}
  </ul>
</div>


<div class="panel panel-default">
  <div class="panel-heading">Completed tasks</div>
  <ul class="list-group">
     {{#each model as | todoItem index |}}
      {{#if todoItem.isComplete}}
        <li class="list-group-item">
          <input type="checkbox" name="todo-item-{{todoItem.id}}" {{action 'onTodoComplete' todoItem}} checked="true">
          {{todoItem.name}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>
{{outlet}}
